#Exclude the following files for DataFlex Projects
####################################
programs/WebApp_Tracelog*

appsrc/config
idesrc

workspace-copier-config.json

AppHtml/*

#personal preference
####################################

# Add any directories, files, or patterns you don't want to be tracked by version control
*.k1
*.k2
*.k3
*.k4
*.k5
*.k6
*.k7
*.k8
*.k9
*.k10
*.k11
*.k12
*.k13
*.k14
*.k15
*.vld
*.hdr
*.mtd
*.cch
*.int
*.dsk
*.loc
*.prn
*.prp
*.bak
*.pkd
*.pbg
*.fld
*.exe
*.dbg
*.trc
*.doc
*.cfg
*.log
*.dep
*.err
*.pdp
*.manifest
connection.ini
DFConnId.ini
*.bmp
*.ico
Data/default/CodeMast.dat
Data/default/CodeMast.tag
Data/default/CodeType.dat
Data/default/CodeType.tag
*.fd
